
    .footer {
        max-width: 100%;
        background: #6278F7;
        color: #FFF;
        padding: 40px; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        
     }

      .icones img {

        margin :10px;
     } 
    
   
